<div class="container">
    <p></p>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="Clientes /">Clientes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Editar</li>
        </ol>
    </nav>

    <div *ngIf="messageOk" class="alert alert-success" role="alert">
        Cliente atualizado com sucesso!
    </div>
    <div class="card">
        <div class="card-body">

            <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">

                <div class="row">
                    <div class="col-md-6">
                        <label for="nome">Nome</label>
                        <input type="text" formControlName="nome" class="form-control" />
                        <div *ngIf="submitted && f.nome.errors" class="invalid-feedback d-block" maxlength="80">
                            <div *ngIf="f.nome.errors.required">Nome é obrigatório!</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="data_nascimento">Data de Nascimento</label>
                        <input type="date" formControlName="data_nascimento" class="form-control" />
                        <div *ngIf="submitted && f.data_nascimento.errors" class="invalid-feedback d-block">
                            <div *ngIf="f.data_nascimento.errors.required">Data de nascimento é obrigatório!</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="sexo">Sexo</label>
                        <select class="custom-select" (change)="changeSexo($event)" formControlName="sexo">
              <option value="">...</option>
              <option *ngFor="let sexo of Sexo" value="{{sexo.value}}">{{sexo.tipo}}</option>
            </select>
                        <div *ngIf="submitted && f.sexo.errors" class="invalid-feedback d-block">
                            <div *ngIf="f.sexo.errors.required">Sexo é obrigatório!</div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-3">
                        <label for="cep">CEP</label>
                        <input type="text" formControlName="cep" class="form-control" (blur)="consultaCep()" maxlength="8" />
                    </div>
                    <div class="col-5">
                        <label for="endereco">Endereço</label>
                        <input type="text" formControlName="endereco" class="form-control" maxlength="80" />
                    </div>
                    <div class="col-4">
                        <label for="complemento">Complemento</label>
                        <input type="text" formControlName="complemento" class="form-control" maxlength="80" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-2">
                        <label for="numero">Número</label>
                        <input type="text" formControlName="numero" class="form-control" maxlength="20" />
                    </div>
                    <div class="col-3">
                        <label for="bairro">Bairro</label>
                        <input type="text" formControlName="bairro" class="form-control" maxlength="50" />
                    </div>
                    <div class="col-4">
                        <label for="cidade">Cidade</label>
                        <input type="text" formControlName="cidade" class="form-control" [attr.disabled]="true" maxlength="50" />
                    </div>
                    <div class="col-3">
                        <label for="estado">Estado</label>
                        <input type="text" formControlName="estado" class="form-control" [attr.disabled]="true" maxlength="2" />
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-3 mx-auto">
                        <button *ngIf="button" [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              <i class="fa fa-floppy-o"></i> &nbsp; Salvar
            </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>